<div class="container mt-4">
  <div class="row">
    <div class="col col-md-10">
      <div class="card" *ngIf="restaurantDetailDto">
        <div class="card-header">Détail Restaurants</div>
        <div class="card-body">
          <ng-container>
            <div class="mb-2">
              <label>ADRESSE :</label>
              <label><strong>{{ restaurantDetailDto.adresse }}</strong></label>
            </div>
            <div class="mb-2">
              <label>NOM :</label>
              <label><strong>{{ restaurantDetailDto.nom }}</strong></label>
            </div>
            <div class="mb-2">
              <label>VEGETARIEN :</label>
              <button [ngClass]="restaurantDetailDto.vegetarien?'btn btn-success':'btn btn-danger'" style="margin-left: 1%;">
                <i [class]="restaurantDetailDto.vegetarien?'fa fa-check':'fa fa-times'"></i>
              </button>
            </div>
            <div class="card-header">Liste des Plats</div>
            <table class="table">
         
              <thead>
                <th>libelle</th><th>categoriePlat</th><th>libelleCategoriePlat</th><th>prix</th>
              </thead>
              <tbody>
                <tr *ngFor="let plat of plats">
                  <td>{{plat?.libelle }}</td>
                  <td>{{plat?.categoriePlat }}</td>
                  <td>{{plat?.libelleCategoriePlat }}</td>
                  <td>{{plat?.prix }}</td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
