<div class="container mt-2">
    <ng-container >
      <div class="card">
        <div class="card-header">Liste des Avis</div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
            <th>AUTEUR</th><th>COMMENTAIRE</th><th>NOTE</th><th>DATECREATION</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let av of avis | async">
              <td>{{av.auteur}}</td>
              <td>{{av.commentaire}}</td>
              <td>{{av.note}}</td>
              <td>{{av.dateCreation}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
  
