<div class="col mb-3">
    <div class="col-md-12">
      <div class="col-md-12 mb-3 mt-3">
        <h2>Nouveau Avis</h2>
      </div>
      <div class="col-md-12">
        <form [formGroup]="newAvisFormGroup" (ngSubmit)="handleSaveAvis()">
          <div class="row mb-3">
            <div class="col">
              <input type="text" formControlName="commentaire" class="form-control" placeholder="commentaire" name="Commentaire" >
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <input type="text" formControlName="auteur" class="form-control" placeholder="auteur" name="Auteur" >
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <ngb-rating [max]="5" formControlName="note"  [readonly]="false"></ngb-rating>
            </div> 
          </div>
          <div class="row mb-3">
            <div class="col">
            <label>NOM DU RESTAURANT :</label>
            <label><strong *ngIf="restaurant">{{ restaurant.nom }}</strong></label>
          </div>
          </div>
            <div class="row mb-3">
              <div class="col">
            <button class="btn btn-primary">
              <i class="fas fa-save"></i>&nbsp;
              Enregitrer
            </button>
            </div>
            </div>
        </form>
      </div>
    </div>
  </div>
  
