<div class="container mt-2">
  <div class="card p-3 min-height-80 mb-2">
    <div class="row">
      <div class="col-md-8">
        <div *ngIf="searchFormGroup">
          <form [formGroup]="searchFormGroup">
            <div class="row g-2">
              <div class="col-auto">
                <input class="form-control" type="text" formControlName="nomRestaurant" (keyup)="onKeyUpEvent($event)"
                  placeholder="Recherche" />
              </div>
              <div class="col-auto">
                <button (click)="handleSearchRestaurants()" class="btn btn-outline-info">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Liste des restaurants</div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>ADRESSE</th>
            <th>NOM</th>
            <th>VEGETARIEN</th>
            <th>Nb avis</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let restaurant of restaurants">
            <td>{{restaurant.adresse}}</td>
            <td>{{restaurant.nom}}</td>
            <td>
              <button [ngClass]="restaurant.vegetarien?'btn btn-success':'btn btn-danger'">
                <i [class]="restaurant.vegetarien?'fa fa-check':'fa fa-times'"></i>
              </button>
            </td>
            <td>{{restaurant.nbAvis}}</td>
            <td>
              <img src="assets/images/pexels-marta-dzedyshko-2067560.jpg" width="83" height="90" loading="lazy"
                fetchpriority="auto">
            </td>
            <td>
              <button [routerLink]="['/detail-restaurant/', restaurant.id]" class="btn btn-primary"><i
                  class="far fa-list-alt"></i>&nbsp;Détails</button>
              <button [routerLink]="['/nouvel-avis/', restaurant.id]" class="btn btn-primary"
                style="margin-left: 10px"><i class="fas fa-star"></i>&nbsp; Donner un avis</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>