<div class="faq_answers">
    <div class="faq_answer">
        <h3 class="faq_question">Comment faites vous pour connaitre autant de restaurants ?</h3>
        <div class="faq_reponse">
            <p>C'est grâce à vous ! N'hésitez pas à remonter vos restaurants préférés, vos coups de coeurs ou vos déceptions :)</p>
        </div>
    </div>
    <div class="faq_answer">
        <h3 class="faq_question">Comment bien donner son avis ?</h3>
        <div class="faq_reponse">
            <p>Il suffit de donner votre avis sur un restaurant de maniére objective</p>
        </div>
    </div>
</div>
